<div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
    <div class="page-header-inner">
        <div class="page-logo">
            <a>
                <img src="{{ asset('assets/admin/layout2/img/logo-default.png')}}" style="width: 145px;margin-top: 5px;margin-left: -12px;" alt="logo" class="logo-default"/>
            </a>
            <div class="menu-toggler sidebar-toggler">
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <div class="page-top">
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-basket"></i>
                            <span class="badge badge-default">
                                {{ cd }} </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>Mois : {{ m }} <i class="glyphicon glyphicon-arrow-right"></i><span class="bold"> {{ cd }} Dépenses</span></h3>
                                <a href="{{ path('my_pocket_listedepensepage')}}">Tous afficher</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-wallet"></i>
                            <span class="badge badge-default">
                                {{ cr }} </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>Mois : {{ m }} <i class="glyphicon glyphicon-arrow-right"></i><span class="bold"> {{ cr }} Revenus</span></h3>
                                <a href="{{ path('my_pocket_listerevenupage')}}">Tous afficher</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="{{ asset('assets/admin/layout2/img/user.png')}}"/>
                            <span class="username username-hide-on-mobile">
                                {{ nom }} </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="{{ path('my_pocket_deconnexionpage')}}">
                                    <i class="icon-power"></i> Déconnexion </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>